<h1> Linear regression with multiple variable # y = m1x1 + m2x2 + m3x3+ .... + c

<h3> Import Libraries

In [1]:
import pandas as pd
import numpy
from sklearn import linear_model

In [2]:
#read dataset/file
df = pd.read_csv('multi variable.csv')

In [3]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [9]:
exp_fit = df.experience.median() # We will be using the median value to replace the NaN value in experience column

In [10]:
exp_fit

5.0

In [12]:
#replacing NaN values
df.experience = df.experience.fillna(exp_fit)

In [13]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

<h3> creating model

In [14]:
reg = linear_model.LinearRegression() # creating object for linear regression

In [16]:
reg.fit(df[['speed', 'car_age', 'experience']], df.risk)

LinearRegression()

<h3> predicting risk value

In [19]:
reg.predict([[160,10,5]])

array([71.37146872])

<h3> Finding coefficient

In [21]:
reg.coef_ #value of m1, m2, m3 ....

array([ 0.33059217,  1.61053246, -6.20772074])

<h3> Intercept

In [23]:
reg.intercept_ #value of c

33.410000910435855

<h3> Calculating risk value manually using coef and intercept

In [26]:
y = 0.33059217*160 + 1.61053246*10 + -6.20772074*5 + 33.410000910435855
y

71.37146901043586